
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
     </div>
  </div>
</div>

<p>Why did you choose the approach you took? Which problems did you encounter?</p>
<p>Answers:</p>
  <p>I decided to use Bootstrap' template cause it saves me time and provides a great looking interface</p>
  <p>I am using windows 10 and it gives me problems when i tried to create a new project, i had to re-install node and cli </p>
